<!DOCTYPE html>
<html lang="en">
<head>
  <title>Avatar Generator</title>
  <meta http-equiv="refresh" content="10" />
</head>
<body>
    <p>please wait …</p>
    <img src="/static/avatar4.png" alt="funko pop" /><br/>
    <img src="/static/avatar3.png" alt="AtlA" /><br/>
    <img src="/static/avatar2.png" alt="ugly, funny, farty, ascii art" /><br/>
    <img src="/static/avatar1.png" alt="animated, happy, young, anime" /><br/>
    <img src="/static/avatar0.png" alt="raw description" /><br/>
    <img src="/static/avatar.png" alt="openai response about your name" /><br/>
</body>
</html>

