<!DOCTYPE html>
<html>
<head>
  <title>Avatar Generator</title>
  <style>
    /* Center the content of the main container */
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      flex-direction: column;
    }

    /* Add some styling to the form */
    form {
      border: 1px solid #ccc;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  </style>
<!--  <meta http-equiv="refresh" content="5"/>-->
</head>
<body>
  <div class="container">
    <img href="static/avatar.png" />
<!--    <img href="static/avatar1.png" />-->
<!--    <img href="static/avatar2.png" />-->
<!--    <img href="static/avatar3.png" />-->
<!--    <img href="static/avatar4.png" />-->
<!--    <img href="static/avatar5.png" />-->
  </div>
</body>
</html>

